@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans&display=swap');

.ql-font-roboto {
    font-family: 'Roboto', sans-serif;
}

.ql-font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.createPost {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    overflow-y:auto;
    min-height: 100vh; 
}

.createPost__title{
    font-family: "Playfair Display";
    font-size:45px;
    font-weight: 600;
    color:#003478;
    text-align: start;
    width: 1316px;
    margin-bottom: 49px;
}

.createPost__informationContainer {
    display: flex;
    flex-direction: row;
    margin-bottom:30px;
}

.informationContainer__dragAndDropZone {
    width: 640px;
    height: 360px;
    border: 2px solid #CCCCCC;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; 
    background-color: #fff;
    margin-bottom: 10px;
    transition: height 0.3s ease, width 0.3s ease; /* Transición suave */
}

.informationContainer__dragAndDropZone img {
    max-width: 100%;     
    max-height: 100%;     
    object-fit: contain;  
    display: block;
    margin: auto;
}

.informationContainer__imgFolderContainer {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-bottom: 81px;
    margin-top: 83px;
}

.imgFolderContainer__imgIcon{
    font-size: 86px;
    color: #003478;
    margin-bottom: 10px;
}

.imgFolderContainer__dropText {
    color:#636363;
    font-size:19px;
    font-weight: 600;
}

.imgFolderContainer__uploadButton {
    width: 153px;
    height: 28px;
    background-color: #003478;
    color: #CCCCCC;
    font-size: 13px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 9px;
}

.imgFolderContainer__warningMessage {
    color:#999999;
    font-size:14px;
    font-weight: 600;
}

.informationContainer__inputContainer {
    display: flex;
    flex-direction: column;
    padding-left:42px;
}

.inputContainer__textInputPost {
    font-family: "Roboto", sans-serif;
    font-size:23px;
    font-weight: 500;
    color:#003478;
    margin-bottom:12px;
}

input {
    border-radius:8px;
    background-color: #FFFFFF;
    border: 1px solid #ADADAD;
    width:630px;
}

.inputContainer__size1 {
    height:34px;
    margin-bottom: 12px;
}

.inputContainer__size2 {
    border-radius:8px;
    background-color: #FFFFFF;
    border: 1px solid #ADADAD;
    width:630px;
    height: 220px;
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box; 
    resize: none;
}

.quill  {
    width: 1316px;
    max-width: 1316px;
    min-height: 100px;
    overflow-y: auto; 
}

/* .ql-toolbar.ql-snow + .ql-container.ql-snow {
    height: 400px;
    border-top: 0px;
} */

.createPost__buttonContainer{
    margin-top:68px;
    margin-bottom:50px;
}

.buttonContainer__createPostButton{
    width:240px;
    height:49px;
    cursor: pointer;
    border-radius:4px;
    background-color: #003478;
    color: #fff;
    font-size:19px;
    font-weight: 600;
    border-style: none;
}

.buttonContainer__cancelPostButton{
    width:240px;
    height:49px;
    cursor: pointer;
    background-color: #fff;
    color:#636363;
    border-style: none;
    font-size:19px;
    font-weight: 600;
}

.fileInput {
    display: none; 
}

.createPost__tagContainer {
    width: 1312px;
    display: flex;
    flex-direction:row;
}

.inputFields__addTagInput {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addTagInput__input {
    width: 640px;
    height: 57px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 400;
    padding-left: 15px;
    background-color: #fff;
    border:1px solid #CCCCCC;
    margin-bottom:25px;
}

.addTagInput__icon {
    font-size: 45px;
    cursor: pointer;
    color: #003478;
    position: relative;
    left: -52px;
    top: -13px;
    z-index: 1;
}

.tagContainer__tagsSelected {
    width: 646px;
    height: 166px;
    border-radius: 7px;
    background-color: #fff;
    border:1px solid #CCCCCC;
    margin-bottom:34px;
    display: flex;
    flex-wrap:wrap;
    overflow-y: auto; 
    gap: 10px;
    padding: 10px;
}

.allTags__title {
    font-size: 23px;
    font-weight:500;
    color: #003478;
    margin-bottom:16px;
    font-family: "Roboto", sans-serif;
}

.allTags__tagsContainer {
    width: 100%;
    height: 207px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    overflow-y: auto; 
    border: 1px solid #CCCCCC;
    border-radius: 7px;
    background-color: #fff;
    margin-bottom: 20px;
}

.tagsContainer__tag {
    background-color: #F7F7F7;
    border: 1px solid #77A3DC;
    height: 39px;
    border-radius: 8px;
    display: flex;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: #636363;
    font-family: "Roboto", sans-serif;
}

.tag__deleteTag{
    margin-left: 5px;
    color: #003478;
    font-size: 12px;
    cursor: pointer;
}

.createPost__footer {
    width: 646px;
}

.removeImageButtonContainer {
    width: 640px;
    display: flex;
    justify-content: end;
}

.removeImageButtonContainer__removeImageButton {
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-style: none;
    background-color: #003478;
    cursor: pointer;
    border-radius: 3px;
    margin: 10px auto 0 auto; 
}

.removeImageButton__text {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-right: 5px;
}

.removeImageButton__trashIcon {
    font-size: 15px;
    color: #fff;
}

.ql-editor img {
    display: block;
    margin: 0 auto; 
    max-width: 100%; 
    height: auto;
}

.createPost__footer {
    width:1316px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
}

.footer__writenby {
    font-size:15px;
    font-weight: 500;
    color: #999999;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px; 
}

.all {
    cursor: pointer;
}

@media (min-width: 768px ) and (max-width: 1440px) {
    .createPost__title{
        font-size:30px;
        width: 646px;
        margin-bottom: 20px;
    }
    
    .createPost__informationContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .informationContainer__dragAndDropZone {
        width: 646px;
        height: 370px;
        margin-bottom: 20px;
    }

    .informationContainer__imgFolderContainer {
        margin-top: 83px;
        margin-bottom: 87px;
    }

    .imgFolderContainer__imgIcon{
        font-size: 78px;
    }
    
    .imgFolderContainer__dropText {
        margin-bottom: 15px;
        font-size:21px;
    }
    
    .imgFolderContainer__uploadButton {
        width: 121px;
        height: 32px;
        font-size: 15px;
    }

    .imgFolderContainer__warningMessage {
        font-size:14px;
    }

    .informationContainer__inputContainer {
        display: flex;
        flex-direction: column;
        padding-left:0px;
    }
    
    .inputContainer__textInputPost {
        font-size:21px;
        margin-bottom:12px;
    }
    
    input {
        width: 646px;
    }
    
    .inputContainer__size1 {
        height:34px;
        margin-bottom: 12px;
    }
    
    .inputContainer__size2 {
        width: 646px;
    }

    .quill  {
        width: 646px;
    }
    
    .createPost__buttonContainer{
        padding-top:42px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .buttonContainer__createPostButton{
        width:234px;
        height:49px;
        font-size:19px;

    }
    
    .buttonContainer__cancelPostButton{
        width:234px;
        height:49px;
        font-size:16px;
    }


    .createPost__buttonContainer {
        margin-bottom: 0px;
    }



    .createPost__imgDropContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .removeImageButtonContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .createPost__tagContainer {
        width: 646px;
        display: flex;
        flex-direction:column;
    }
    
    .inputFields__addTagInput {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .addTagInput__input {
        width: 646px;
        font-size: 20px;
    }
    
    .addTagInput__icon {
        font-size: 23px;
        cursor: pointer;
        color: #003478;
        position: relative;
        left: -38px;
        top: -13px;
        z-index: 1;
    }
    
    .tagContainer__tagsSelected {
        width: 646px;
        height: 166px;
        border-radius: 7px;
        background-color: #fff;
        border:1px solid #CCCCCC;
        margin-bottom:34px;
        display: flex;
        flex-wrap:wrap;
        overflow-y: auto; 
        gap: 10px;
        padding: 10px;
    }
    
    .allTags__title {
        font-size: 18px;
        font-weight:500;
        color: #003478;
        margin-bottom:16px;
        font-family: "Roboto", sans-serif;
    }
    
    .allTags__tagsContainer {
        width: 100%;
        height: 120px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
        overflow-y: auto; 
        border: 1px solid #CCCCCC;
        border-radius: 7px;
        background-color: #fff;
        margin-bottom: 20px;
    }
    
    .tagsContainer__tag {
        background-color: #F7F7F7;
        border: 1px solid #77A3DC;
        height: 39px;
        border-radius: 8px;
        display: flex;
        padding: 0 15px;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: #636363;
        font-family: "Roboto", sans-serif;
    }

    .tag__deleteTag{
        margin-left: 5px;
        color: #003478;
        font-size: 12px;
        cursor: pointer;
    }

    .createPost__footer {
        width: 646px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .createPost {
        padding: 0px;
    }
    
    .createPost__title{
        margin-bottom: 20px;
        font-size:30px;
        width: 430px;
    }
    
    .createPost__informationContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .informationContainer__dragAndDropZone {
        width: 430px;
        height: 270px;
    }

    .informationContainer__imgFolderContainer {
        margin-bottom: 46px;
    }

    .imgFolderContainer__imgIcon{
        font-size: 53px;
        color: #636363;
    }
    
    .imgFolderContainer__dropText {
        color:#636363;
        font-size:17px;
        font-weight: 600;
    }
    
    .imgFolderContainer__uploadButton {
        width: 110px;
        height: 26px;
        font-size: 13px;
    }

    .imgFolderContainer__warningMessage {
        font-size:11px;
    }

    .informationContainer__inputContainer {
        display: flex;
        flex-direction: column;
        padding-left:0px;
    }
    
    .inputContainer__textInputPost {
        font-size:16px;
        margin-bottom:12px;
    }
    
    input {
        width: 430px;
    }
    
    .inputContainer__size1 {
        height:34px;
        margin-bottom: 12px;
    }
    
    .inputContainer__size2 {
        width: 430px;
    }

    .quill  {
        width: 430px;
    }
    
    .createPost__buttonContainer{
        padding-top:42px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .buttonContainer__createPostButton{
        width:200px;
        height:49px;
        font-size:15px;

    }
    
    .buttonContainer__cancelPostButton{
        width:200px;
        height:49px;
        font-size:12px;
    }

    .createPost__buttonContainer {
        margin-bottom: 0px;
    }



    
    .createPost__imgDropContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .removeImageButtonContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .createPost__tagContainer {
        width: 430px;
        display: flex;
        flex-direction:column;
    }
    
    .inputFields__addTagInput {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .addTagInput__input {
        width: 430px;
        font-size: 20px;
    }
    
    .addTagInput__icon {
        font-size: 23px;
        cursor: pointer;
        color: #003478;
        position: relative;
        left: -38px;
        top: -13px;
        z-index: 1;
    }
    
    .tagContainer__tagsSelected {
        width: 430px;
        height: 166px;
        border-radius: 7px;
        background-color: #fff;
        border:1px solid #CCCCCC;
        margin-bottom:34px;
    }
    
    .allTags__title {
        font-size: 18px;
        font-weight:500;
        color: #003478;
        margin-bottom:16px;
        font-family: "Roboto", sans-serif;
    }
    
    .allTags__tagsContainer {
        width: 100%;
        height: 100px;
    }
    
    .tagsContainer__tag {
        background-color: #F7F7F7;
        border: 1px solid #77A3DC;
        height: 39px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 9px;
        font-weight: 500;
        color: #636363;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
    }
    
    .a {
        margin: 20px; 
    }

    .createPost__footer {
        width: 430px;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .createPost {
        padding: 0px;
    }
    
    .createPost__title{
        margin-bottom: 20px;
        font-size:26px;
        width:295px;
    }
    
    .createPost__informationContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .informationContainer__dragAndDropZone {
        width: 290px;
        height: 230px;
    }

    .informationContainer__imgFolderContainer {
        margin-bottom: 20px;
    }

    .imgFolderContainer__imgIcon{
        font-size: 42px;
        color: #636363;
    }
    
    .imgFolderContainer__dropText {
        color:#636363;
        font-size:15px;
        font-weight: 600;
    }
    
    .imgFolderContainer__uploadButton {
        width: 110px;
        height: 26px;
        font-size: 10px;
    }

    .imgFolderContainer__warningMessage {
        font-size:8px;
    }

    .informationContainer__inputContainer {
        display: flex;
        flex-direction: column;
        padding-left:0px;
    }
    
    .inputContainer__textInputPost {
        font-size:12px;
        margin-bottom:12px;
    }
    
    input {
        width:290px;
    }
    
    .inputContainer__size1 {
        height:34px;
        margin-bottom: 12px;
    }
    
    .inputContainer__size2 {
        width:290px;
    }

    .quill  {
        width:290px;
    }
    
    .createPost__buttonContainer{
        padding-top:42px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .buttonContainer__createPostButton{
        width:200px;
        height:49px;
        font-size:15px;

    }
    
    .buttonContainer__cancelPostButton{
        width:200px;
        height:49px;
        font-size:12px;
    }
    .createPost__buttonContainer {
        margin-bottom: 0px;
    }

    

    .createPost__imgDropContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .removeImageButtonContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .createPost__tagContainer {
        width: 290px;
        display: flex;
        flex-direction:column;
    }
    
    .inputFields__addTagInput {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .addTagInput__input {
        width: 290px;
        font-size: 15px;
    }
    
    .addTagInput__icon {
        font-size: 20px;
        cursor: pointer;
        color: #003478;
        position: relative;
        left: -38px;
        top: -13px;
        z-index: 1;
    }
    
    .tagContainer__tagsSelected {
        width: 290px;
        height: 166px;
        border-radius: 7px;
        background-color: #fff;
        border:1px solid #CCCCCC;
        margin-bottom:34px;
    }
    
    .allTags__title {
        font-size: 15px;
        font-weight:500;
        color: #003478;
        margin-bottom:16px;
        font-family: "Roboto", sans-serif;
    }
    
    .allTags__tagsContainer {
        width: 100%;
        height: 100px;
    }
    
    .tagsContainer__tag {
        background-color: #F7F7F7;
        border: 1px solid #77A3DC;
        height: 39px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8px;
        font-weight: 500;
        color: #636363;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
    }
    
    .a {
        margin: 20px; 
    }

    .createPost__footer {
        width: 290px;
    }
}
