@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans&display=swap');

.viewPost {
    min-width: calc(320px - 22px);
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 62px;
}

.viewPost__sort {
    width: 100%;
    height: 100%;
    margin-top:130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sort__presentation {
    width: 548px;
    height: 100%;
}

.presentation__tinyText {
    font-size:24px;
    font-weight:500;
    font-family: 'Merriweather', serif;
    color:#0A0A0A;
    margin-bottom:13px;
}

.sortInput__input {
    width:526.13px;
    height:61px;
    background-color: #fff;
    border:1px solid #5a5a5a;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #000;
    padding-left: 15px;
}

.sortInput__input::placeholder {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #696767;
}

.presentation__bigText {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    color: #003478;
    margin-bottom: 11px;
}

.presentation__sortInput {
    display: flex;
    flex-direction: row;
}

.sortInput__buttonIcon {
    cursor: pointer;
    width: 79.3px;
    height: 61px;
    background-color: #003478;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius:49px;
    border-bottom-left-radius:49px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    z-index: 1;
    position: relative;
    top: 0px;
    left: -72px;
}

.buttonIcon__searchIcon {
    font-size: 30.87px;
    font-weight: 600;
    color: #fff;
}

.sort__tags{
    width: calc(100% - 548px);
    height:100%;
    max-width: 600px;
}

.usedTags__tagContainer{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    height: 185px;
    overflow-y: auto;
    overflow-x: hidden;
}
  
.usedTags__tagContainer::-webkit-scrollbar {
  width: 6px;  /* Width of the scrollbar */
  height: 6px; /* Height of scrollbar (for horizontal scrolling) */
}

.usedTags__tagContainer::-webkit-scrollbar-thumb {
  background-color: rgba(65, 96, 136, 0.3); /* Thumb color */
  border-radius: 10px;                   /* Rounded edges */
}

.usedTags__tagContainer::-webkit-scrollbar-track {
  background: rgb(170 181 193 / 20%);        /* Track color */
}
  
.tags__usedTags {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Merriweather';
    color: #1D639D;
    margin-bottom: 11px;
}

.viewPost__sectionTitle {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    padding-bottom: 19px;
    border-bottom:1px solid #3F3F3F;
}

.viewPost__title {
    font-size:45px;
    font-weight:600;
    font-family: "Playfair Display";
    color:#003478;
    letter-spacing: 1px;
}

.viewPost__newPost {
    width:181px;
    height:49px;
    border-style:none;
    border-radius:5px;
    color:#FFF;
    background-color:#003478;
    font-size:20px;
    font-weight:500;
    cursor: pointer;
}

.viewPost__postContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(618px, 1fr));
    row-gap: 48px;
    padding-block: 63px;
    position: relative;
    justify-items: center;
}

.viewPost__post {
    min-width: 618px;
    width: 100%; 
    height: 214px;
    display: flex;
    flex-direction: row;
    position: relative;  
}

.viewPost__iconsSection {
    position: absolute; 
    top: 7px; 
    left: 9px; 
    margin-top:7px;
    margin-left:9px;
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:2px;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.58); 
    z-index: 10; 
    cursor: pointer;
}

.viewPost__create {
    font-size: 18px; 
    color: #212121;
    cursor: pointer;
    margin-right: 5px;
}

.viewPost__link {
    font-size: 18px;
    color: #212121;
    cursor: pointer;
    margin-right: 2px;
}

.viewPost__trash {
    font-size: 18px;
    color: #212121;
    cursor: pointer;
}

.viewPost__imgPost {
    max-width: 460px;
    min-width: 239px;
    max-height: 216px;
    min-height: 142px;
}

.viewPost__textContainer{
    display: flex;
    flex-direction: column;
    padding-inline: 15px;
    padding-block: 13px;
    border-block: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}


.viewPost__date {
    font-size: 14px;
    font-weight:400;
    color:#5B6771;
    font-family: 'Inter', sans-serif;
    margin-bottom: 5px;
}

.viewPost__postTitle {
    font-size:31px;
    font-weight:600;
    font-family:"Playfair Display";
    color:#003478;
    margin-bottom: 5px;
    letter-spacing: -1px; 
    cursor: pointer;
    line-height: 30px;
    height: 60px;
    margin-bottom: 12px;
}

.viewPost__postContent {
    font-size:14px;
    font-weight:500;
    color:#5E5C5C;
    line-height: 15px;
    margin-bottom: 18px;
    font-family: 'Roboto', sans-serif;
}

.viewPost__by {
    color: #8596A4;
}

.viewPost__post{
    min-width: 618px !important;
    max-width: 618px !important;
}

.truncated-text {
    display: -webkit-box;        /* Required for webkit browsers */
    -webkit-line-clamp: 2;       /* Limit to 2 lines */
    -webkit-box-orient: vertical; /* Required for webkit browsers */
    overflow: hidden;            /* Hide overflowing text */
    text-overflow: ellipsis;     /* Add ellipsis (...) */
    max-width: calc(392px - 44px);            /* Set the desired max width */
    white-space: normal;         /* Allow wrapping to the next line */
}

.truncated-text-2 {
    display: -webkit-box;        /* Required for webkit browsers */
    -webkit-line-clamp: 3;       /* Limit to 2 lines */
    -webkit-box-orient: vertical; /* Required for webkit browsers */
    overflow: hidden;            /* Hide overflowing text */
    text-overflow: ellipsis;     /* Add ellipsis (...) */
    max-width: calc(392px - 44px);            /* Set the desired max width */
    white-space: normal;         /* Allow wrapping to the next line */
}

.viewPost__tagsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    overflow: hidden;
    max-height: 30px;
}

.viewPost__tag,
.tagContainer__tag{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-family: 'Inter';
    color: #426189;
    font-size: 13px;
    padding: 6px 12px;
    border: 1px solid #426189;
    border-radius: 8px;
    background-color: #D9E6F8;
    white-space: nowrap;
    height: min-content;
    cursor: pointer;
}

.presentation__bannerContainer{
    display: flex;
    flex-direction: column;
    width: 548px;
}

.active-tag {
    background-color: #0070f3;
    color: white;
    font-weight: bold;
}


@media (min-width: 320px) and (max-width: 425px) {
    .viewPost{
        padding: 0px;
        padding-inline: 20px;
    } 

    .viewPost__sort{
        max-width: 320px;
    }
    
    .sort__presentation{

    }

    .presentation__bannerContainer{
        width: 100%;
        justify-content: space-between;
    }

    .usedTags__tagContainer{
        display: flex;
        gap: 15px;
        height: 108px;
        flex-wrap: wrap;
        overflow-y: scroll;
    }  

    .viewPost__sort {
        flex-direction: column;
    }
    
    .sort__presentation {
        width: 100%;
        margin-bottom: 40px;
    }

    .presentation__sortInput{
        width: 50%;
        margin-right: -35px;
    }
    
    .presentation__tinyText {
        font-size:13px;
        margin-bottom: 4px;
    }

    .presentation__bigText {
        font-size: 22px;
        margin-bottom: 11px;
    }
    
    .sortInput__input {
        min-width:210px;
        height:43px;
        font-size: 13px;
    }
    
    .sortInput__input::placeholder {
        font-size: 13px;
    }
    
    .sortInput__buttonIcon {
        min-width: 40px;
        height:43px;
        z-index: 1;
        position: relative;
        top: 0px;
        left: -40px;
    }
    
    .buttonIcon__searchIcon {
        font-size: 25px;
    }
    
    .sort__tags{
        width: 100%;
        max-width: 100%;
    }
    
    .tags__usedTags {
        font-size: 18px;
    }

    .viewPost__post{
        min-width: calc(320px - 44px) !important;
        max-width: calc(320px - 44px) !important;
        flex-direction: column;
        overflow: hidden;
        max-height: 378px;
        height: fit-content;
    }

    .viewPost__imgPost{
        min-width: calc(320px - 44px) !important;
        max-width: calc(320px - 44px) !important;
    }

    .viewPost__postContainer{
        grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
        row-gap: 40px;
        justify-items: center;
    }

    .viewPost__textContainer{
        padding: 0;
        border-bottom: 1px solid #CCCCCC;
        border-inline: 1px solid #CCCCCC;
        padding-inline: 10px;
        padding-block: 5px; 
    }

    .viewPost__title{
        font-size: 28px;
    }

    .viewPost__postTitle{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px;
        line-height: 20px;
        display: inline-block; 
    }

    .viewPost__postContent{
        font-size: 12px;
    }

    .truncated-text {
        display: -webkit-box;        
        -webkit-line-clamp: 2;       
        -webkit-box-orient: vertical;
        overflow: hidden;           
        text-overflow: ellipsis;     
        max-width: calc(320px - 44px);            
        white-space: normal;        
    }

    .truncated-text-2 {
        display: -webkit-box;       
        -webkit-line-clamp: 3;       
        -webkit-box-orient: vertical; 
        overflow: hidden;            
        text-overflow: ellipsis;     
        max-width: calc(320px - 44px);            
        white-space: normal;         
    }
}


@media (min-width: 425px) and (max-width: 768px) {
    .viewPost{
        padding: 0px;
        padding-left: 20px;
        padding-inline: 20px;
    } 

    .viewPost__sort{
        max-width: 425px;
    }
    
    .sort__presentation{

    }

    .presentation__bannerContainer{
        width: 100%;
        justify-content: space-between;
    }

    .usedTags__tagContainer{
        display: flex;
        gap: 15px;
        width: 450px;
        height: 108px;
        flex-wrap: wrap;
        overflow-y: scroll;
    }  

    .viewPost__sort {
        flex-direction: column;
    }
    
    .sort__presentation {
        width: 100%;
        margin-bottom: 40px;
    }

    .presentation__sortInput{
        width: 50%;
        margin-right: -35px;
    }
    
    .presentation__tinyText {
        font-size:16px;
        margin-bottom: 4px;
    }

    .presentation__bigText {
        font-size: 29px;
        margin-bottom: 11px;
    }
    
    .sortInput__input {
        min-width: 319px;
        height:43px;
        font-size: 13px;
    }
    
    .sortInput__input::placeholder {
        font-size: 13px;
    }
    
    .sortInput__buttonIcon {
        min-width: 40px;
        height:43px;
        z-index: 1;
        position: relative;
        top: 0px;
        left: -40px;
    }
    
    .buttonIcon__searchIcon {
        font-size: 25px;
    }
    
    .sort__tags{
        width: 100%;
        max-width: 100%;
    }
    
    .tags__usedTags {
        font-size: 18px;
    }

    .viewPost__post{
        min-width: calc(320px - 44px) !important;
        max-width: calc(320px - 44px) !important;
        flex-direction: column;
        overflow: hidden;
        max-height: 378px;
        height: fit-content;
    }

    .viewPost__imgPost{
        min-width: calc(320px - 44px) !important;
        max-width: calc(320px - 44px) !important;
    }

    .viewPost__postContainer{
        grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
        row-gap: 40px;
        justify-items: center;
    }

    .viewPost__textContainer{
        padding: 0;
        border-bottom: 1px solid #CCCCCC;
        border-inline: 1px solid #CCCCCC;
        padding-inline: 10px;
        padding-block: 5px; 
    }

    .viewPost__title{
        font-size: 28px;
    }

    .viewPost__postTitle{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px;
        line-height: 20px;
        display: inline-block; 
    }

    .viewPost__postContent{
        font-size: 12px;
    }

    .truncated-text {
        display: -webkit-box;        
        -webkit-line-clamp: 2;       
        -webkit-box-orient: vertical;
        overflow: hidden;           
        text-overflow: ellipsis;     
        max-width: calc(320px - 44px);            
        white-space: normal;        
    }

    .truncated-text-2 {
        display: -webkit-box;       
        -webkit-line-clamp: 3;       
        -webkit-box-orient: vertical; 
        overflow: hidden;            
        text-overflow: ellipsis;     
        max-width: calc(320px - 44px);            
        white-space: normal;         
    }
}
