@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans&display=swap');

.post{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.post__titleSection {
    width: 1310px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top:66px;
    padding-bottom:34px;
    border-bottom: 1px solid #B7B7B7;
}

.titleSection__postTitle {
    font-family: "Playfair Display";
    font-size:45px;
    font-weight: 600;
    color:#003478 ;
    margin-bottom:34px;
}

.titleSection__postDesc {
    font-size:23px;
    font-weight: 500;
    color:#3A3939;
}

.post__socialDateContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1310px;
    margin-top:22px;
    margin-bottom: 55px;
}

.socialDateContainer__date {
    font-size:20px;
    font-weight: 400;
    color:#3A3939;
}

.socialDateContainer__socialMediaContainer {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mediaIcon {
    font-size:24px;
    color: #003478;
}

.post__img {
    /* max-width: 1312px;
    min-width: 1312px;
    max-height: 738px;
    min-height: 738px; */
    width: 1312px;
    height: auto;
}

.post__infoPost {
    width: 1310px;
    text-align: start;
    margin-top:76px;
    font-size:23px;
    font-weight: 400;
    color:#3A3939;
    white-space: pre-wrap;
}

.post__writter {
    font-size:20px;
    font-weight: 500;
    color:#3A3939;
    font-family: 'Roboto', sans-serif;
}

.socialDateContainer__date {
    font-size:20px;
    font-weight: 500;
    color:#3A3939;
    font-family: 'Roboto', sans-serif;
}

.viewPost__tag{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-family: 'Inter';
    color: #426189;
    font-size: 13px;
    padding: 6px 12px;
    border: 1px solid #426189;
    border-radius: 8px;
    background-color: #D9E6F8;
    white-space: nowrap;
    height: min-content;
}

.usedTags__tagContainerPost{
    display: flex;
    gap: 15px;
    height: 60px;
    overflow-x: scroll;
    margin-top: 15px;
}

@media (min-width: 1024px ) and (max-width: 1439px) {
    .post__titleSection {
        width: 990px;
    }

    .titleSection__postTitle {
        font-size:34px;
    }
    
    .titleSection__postDesc {
        font-size:19px;
    }

    .post__socialDateContainer {
        width: 990px;
    }
    
    .socialDateContainer__date {
        font-size:14px;
    }

    .mediaIcon {
        font-size:22px;
    }

    .post__img {
        width: 990px;
        padding-bottom: 50px;
        border-bottom: 1px solid #B7B7B7;
    }

    .post__infoPost {
        width: 990px;
        font-size:19px;
    }
}

@media (min-width: 768px ) and (max-width: 1023px) {
    .post__titleSection {
        width: 726px;
    }

    .titleSection__postTitle {
        font-size:34px;
    }
    
    .titleSection__postDesc {
        font-size:19px;
    }

    .post__socialDateContainer {
        width: 726px;
    }
    
    .socialDateContainer__date {
        font-size:14px;
    }

    .mediaIcon {
        font-size:22px;
    }

    .post__img {
        padding-bottom: 50px;
        border-bottom: 1px solid #B7B7B7;
        width: 726px;
    }


    .post__infoPost {
        width: 726px;
        font-size:19px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .post__titleSection {
        width: 420px;
    }

    .titleSection__postTitle {
        font-size:28px;
    }
    
    .titleSection__postDesc {
        font-size:15px;
    }

    .post__socialDateContainer {
        width: 420px;
    }
    
    .socialDateContainer__date {
        font-size:12px;
    }

    .mediaIcon {
        font-size:20px;
    }

    .post__img {
        padding-bottom: 50px;
        border-bottom: 1px solid #B7B7B7;
        width: 420px;
    }


    .post__infoPost {
        width: 420px;
        font-size:10px;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .post__titleSection {
        width:295px;
    }

    .titleSection__postTitle {
        font-size:28px;
    }
    
    .titleSection__postDesc {
        font-size:15px;
    }

    .post__socialDateContainer {
        width:295px;
    }
    
    .socialDateContainer__date {
        font-size:12px;
    }

    .mediaIcon {
        font-size:20px;
    }

    .post__img {
        padding-bottom: 50px;
        border-bottom: 1px solid #B7B7B7;
        width:295px;
    }

    .post__infoPost {
        width:295px;
        font-size:10px;
    }

    .usedTags__tagContainer{
        display: flex;
        gap: 15px;
        height: 120px;
        overflow-x: scroll;
        margin-top: 15px;
    }
}

.post__infoPost img[src^="data:image"] {
    margin-block:20px;
    max-width: 100%; 
    width: 1312px;
    height: auto; 
}

@media (min-width: 1024px ) and (max-width: 1439px) {
    /* ... otros estilos ... */
    .post__infoPost img[src^="data:image"] {
        width: 990px; /* Ajuste específico para este rango */
    }
}

@media (min-width: 768px ) and (max-width: 1023px) {
    /* ... otros estilos ... */
    .post__infoPost img[src^="data:image"] {
        width: 726px; /* Ajuste específico para este rango */
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    /* ... otros estilos ... */
    .post__infoPost img[src^="data:image"] {
        width: 420px; /* Ajuste específico para este rango */
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    /* ... otros estilos ... */
    .post__infoPost img[src^="data:image"] {
        width: 295px; /* Ajuste específico para este rango */
    }
}