@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 62px;
}

.rowPost {
    display: flex;
    flex-direction: row;
    margin-bottom:42px;
}

.createPostTilte{
    font-family: "Playfair Display";
    font-size:45px;
    font-weight: 600;
    color:#000000;
    margin-bottom:49px;
    text-align: start;
    width: 1316px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    padding-left:42px;
}

.textInputPost {
    font-family: "Playfair Display";
    font-size:23px;
    font-weight: 500;
    color:#212121;
    margin-bottom:12px;
}

input {
    border-radius:8px;
    background-color: #F7F7F7;
    border: 1px solid #ADADAD;
    width:630px;
}

.size1 {
    height:34px;
    margin-bottom: 12px;
}

.size2 {
    border-radius:8px;
    background-color: #F7F7F7;
    border: 1px solid #ADADAD;
    width:630px;
    height: 220px;
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box; 
    resize: none;
}

.quill  {
    width:1316px;
    height:277px;
}

.buttonContainer{
    margin-top:68px;
}

.createPostButton{
    width:240px;
    height:49px;
    cursor: pointer;
    border-radius:14px;
    background-color: #A49471;
    color: #fff;
    font-size:19px;
    font-weight: 600;
    border-style: none;
}

.cancelPost{
    width:240px;
    height:49px;
    cursor: pointer;
    background-color: #fff;
    color:#636363;
    border-style: none;
    font-size:19px;
    font-weight: 600;
}

.drag-and-drop-zone {
    width: 640px;
    height: 360px;
    border: 2px solid #939393;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    background-color: #CCCCCC;
}

.dropText {
    color:#636363;
    font-size:19px;
    font-weight: 600;
}

.imageIcon{
    width: 86px;
    width: 86px;
    color: #636363;
    margin-bottom: 10px;
}

.warning {
    color:#3e3e3e;
    font-size:14px;
    font-weight: 600;
}

.uploadButton {
    width: 200px;
    height: 40px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #636363;
    color: #FFF;
    font-size:18px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.fileInput {
    display: none; 
}

