header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height:96px;
    border-bottom: 1px solid #B7B7B7;
}


.brandContainer{
    padding-left: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width:50px;
    height:50px;
    margin-right: 15px;
    background-color: #eaeaea;
}

.nameLogo {
    display: flex;
    flex-direction: column;
}

.cudariRico {
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}

.realState {
    font-size: 12px;
    font-weight: 300;
    color: #5C5C5C;
}

nav {
    padding-right: 66px;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0; 
    margin: 0;
    padding-right: 66px;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #000000;
    padding-bottom: 5px;
    position: relative;
}

.active a {
    border-bottom: 1px solid #212121;
}

a {
    transition: border-bottom 0.3s ease;
}