@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.viewPost {
    min-width: calc(320px - 22px);
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 62px;
}

.viewPost__sort {
    width: 100%;
    height: 100%;
    margin-top:130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sort__presentation {
    width: 548px;
    height: 100%;
}

.presentation__tinyText {
    font-size:24px;
    font-weight:500;
    font-family: 'Merriweather', serif;
    color:#0A0A0A;
    margin-bottom:13px;
}

.sortInput__input {
    width:526.13px;
    height:61px;
    background-color: #fff;
    border:1px solid #5a5a5a;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #000;
    padding-left: 15px;
}

.sortInput__input::placeholder {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #696767;
}

.presentation__bigText {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    color: #003478;
    margin-bottom: 11px;
}

.presentation__sortInput {
    display: flex;
    flex-direction: row;
}

.sortInput__buttonIcon {
    cursor: pointer;
    width: 79.3px;
    height: 61px;
    background-color: #003478;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius:49px;
    border-bottom-left-radius:49px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    z-index: 1;
    position: relative;
    top: 0px;
    left: -73px;
}

.buttonIcon__searchIcon {
    font-size: 30.87px;
    font-weight: 600;
    color: #fff;
}

.sort__tags{
    width: 557px;
    height:100%;
}

.tagContainer__tag {
    display: inline-block; 
    height: 40px;
    padding: 8px;
    background-color:#F7F7F7;
    border: 1px solid #77A3DC;
    border-radius: 8px;
    cursor: pointer;
    color: #666666;
    font-family: 'Roboto', sans-serif;
}

.tags__usedTags {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Merriweather';
    color: #1D639D;
    margin-bottom: 11px;
}

.viewPost__sectionTitle {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 19px;
    border-bottom:1px solid #3F3F3F;
}

.viewPost__title {
    font-size:45px;
    font-weight:600;
    font-family:"Playfair";
    color:#003478;
}

.viewPost__newPost {
    width:181px;
    height:49px;
    border-style:none;
    border-radius:5px;
    color:#FFF;
    background-color:#003478;
    font-size:20px;
    font-weight:500;
}

.viewPost__postContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(618px, 1fr));
    row-gap: 48px;
    padding-block: 63px;
    position: relative;
    justify-items: center;
}

.viewPost__post {
    min-width: 618px;
    width: 100%; 
    height: 214px;
    display: flex;
    flex-direction: row;
    position: relative;  
}

.viewPost__iconsSection {
    position: absolute; 
    top: 7px; 
    left: 9px; 
    margin-top:7px;
    margin-left:9px;
    width: 55px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:2px;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.58); 
    z-index: 10; 
    cursor: pointer;
}

.viewPost__create {
    font-size: 18 px; 
    color: #212121;
    cursor: pointer;
    margin-right: 5px;
}

.viewPost__link {
    font-size: 11px;
    color: #212121;
    cursor: pointer;
}

.viewPost__imgPost {
    max-width: 460px;
    min-width: 239px;
    max-height: 216px;
    min-height: 142px;
}

.viewPost__textContainer{
    display: flex;
    flex-direction: column;
    padding-inline: 15px;
    padding-block: 13px;
    border-block: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}


.viewPost__date {
    font-size:18px;
    font-weight:500;
    color:#1D639D;
}

.viewPost__postTitle {
    font-size:31px;
    font-weight:600;
    font-family:"Playfair Display";
<<<<<<< Updated upstream:blog-app/app/css/viewPost.css
    color:#212121;
    margin-bottom: 18px;
    line-height: 24px;
=======
    color:#003478;
    margin-bottom: 5px;
    cursor: pointer;
>>>>>>> Stashed changes:blog-app/pages/post/index.css
}

.viewPost__postContent {
    font-size:13px;
    font-weight:500;
    color:#5E5C5C;
    line-height: 15px;
    margin-bottom: 10px;
}

.viewPost__by {
    width: 100%;
    font-size:18px;
    font-weight:500;
    color:#3A3939;
    text-align: end;
}

.viewPost__post{
    min-width: 618px !important;
    max-width: 618px !important;
}

.truncated-text {
    display: -webkit-box;        /* Required for webkit browsers */
    -webkit-line-clamp: 2;       /* Limit to 2 lines */
    -webkit-box-orient: vertical; /* Required for webkit browsers */
    overflow: hidden;            /* Hide overflowing text */
    text-overflow: ellipsis;     /* Add ellipsis (...) */
    max-width: calc(392px - 44px);            /* Set the desired max width */
    white-space: normal;         /* Allow wrapping to the next line */
}

.truncated-text-2 {
    display: -webkit-box;        /* Required for webkit browsers */
    -webkit-line-clamp: 3;       /* Limit to 2 lines */
    -webkit-box-orient: vertical; /* Required for webkit browsers */
    overflow: hidden;            /* Hide overflowing text */
    text-overflow: ellipsis;     /* Add ellipsis (...) */
    max-width: calc(392px - 44px);            /* Set the desired max width */
    white-space: normal;         /* Allow wrapping to the next line */
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .viewPost{
        padding-inline: 22px;
    }   

    .viewPost__sort {
        flex-direction: column;
    }
    
    .sort__presentation {
        width: 362px;
        margin-bottom: 40px;
    }
    
    .presentation__tinyText {
        font-size:12px;
        margin-bottom:13px;
    }

    .presentation__bigText {
        font-size: 24px;
        margin-bottom: 11px;
    }
    
    .sortInput__input {
        width:330px;
        height:46px;
        font-size: 10px;
    }
    
    .sortInput__input::placeholder {
        font-size: 10px;
    }
    
    .sortInput__buttonIcon {
        width: 50px;
        height:46px;
        z-index: 1;
        position: relative;
        top: 0px;
        left: -46px;
    }
    
    .buttonIcon__searchIcon {
        font-size: 25px;
    }
    
    .sort__tags{
        width: 362px;
    }
    
    .tags__usedTags {
        font-size: 18px;
    }
    
    .tagContainer__tag {
        display: inline-block; 
        height: 40px;
        padding: 8px;
        background-color:#F7F7F7;
        border: 1px solid #77A3DC;
        border-radius: 8px;
        cursor: pointer;
    }


    .viewPost__post{
        min-width: calc(320px - 44px) !important;
        max-width: calc(320px - 44px) !important;
        flex-direction: column;
        overflow: hidden;
        max-height: 378px;
        height: fit-content;
    }

    .viewPost__imgPost{
        min-width: calc(320px - 44px) !important;
        max-width: calc(320px - 44px) !important;
    }

    .viewPost__postContainer{
        grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
        row-gap: 40px;
        justify-items: center;
    }

    .viewPost__textContainer{
        padding: 0;
        border-bottom: 1px solid #CCCCCC;
        border-inline: 1px solid #CCCCCC;
        padding-inline: 10px;
        padding-block: 5px; 
    }

    .viewPost__title{
        font-size: 28px;
    }

    .viewPost__postTitle{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px;
        line-height: 20px;
        border-bottom: 2px solid black;
        display: inline-block; 
    }

    .viewPost__postContent{
        font-size: 12px;
    }

    .truncated-text {
        display: -webkit-box;        /* Required for webkit browsers */
        -webkit-line-clamp: 2;       /* Limit to 2 lines */
        -webkit-box-orient: vertical; /* Required for webkit browsers */
        overflow: hidden;            /* Hide overflowing text */
        text-overflow: ellipsis;     /* Add ellipsis (...) */
        max-width: calc(320px - 44px);            /* Set the desired max width */
        white-space: normal;         /* Allow wrapping to the next line */
    }

    .truncated-text-2 {
        display: -webkit-box;        /* Required for webkit browsers */
        -webkit-line-clamp: 3;       /* Limit to 2 lines */
        -webkit-box-orient: vertical; /* Required for webkit browsers */
        overflow: hidden;            /* Hide overflowing text */
        text-overflow: ellipsis;     /* Add ellipsis (...) */
        max-width: calc(320px - 44px);            /* Set the desired max width */
        white-space: normal;         /* Allow wrapping to the next line */
    }
}

